JsonResult/WebContent/wsdl/ServiceGetJson.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="result2JSON">
    <complexType>
     <sequence>
      <element name="n" type="xsd:int"/>
      <element name="file_tobe_transform" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="result2JSONResponse">
    <complexType>
     <sequence>
      <element name="result2JSONReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="result2JSONResponse">

      <wsdl:part element="impl:result2JSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="result2JSONRequest">

      <wsdl:part element="impl:result2JSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceGetJson">

      <wsdl:operation name="result2JSON">

         <wsdl:input message="impl:result2JSONRequest" name="result2JSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:result2JSONResponse" name="result2JSONResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceGetJsonSoapBinding" type="impl:ServiceGetJson">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="result2JSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="result2JSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="result2JSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceGetJsonService">

      <wsdl:port binding="impl:ServiceGetJsonSoapBinding" name="ServiceGetJson">

         <wsdlsoap:address location="http://localhost:8080/JsonResult/services/ServiceGetJson"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
